html, body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.hidden {
    display: none;
}

#winMessage {
    height: 60px;
    width: 480px;
    font-size: 36px;

    position: fixed;
    bottom: calc(50vh + 240px);
    left: calc(50vw - 240px);

    display: flex;
    align-items: center;
    justify-content: center;

}

#container {
    height: 480px;
    width: 480px;
    /* font-weight: bold; */
    /* background-color: black; */

    position: fixed;
    top: calc(50vh - 240px);
    left: calc(50vw - 240px);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.location {
    background-color: white;
    font-size: 48px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#formContainer {
    height: 200px;
    width: 480px;

    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;

    position: absolute;
    left: calc(50vw - 240px);
    top: calc(50vh - 100px);
}

form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.resetBtn {
    height: 48px;
    width: 96px;
    border-radius: 24px;
    font-size: 16px;
    font-weight: bold;

    position: absolute;
    bottom: calc(50vh - 240px - 144px);
    left: calc(50vw - 48px);
}

#currentPlayer {
    height: 24px;
    width: 480px;
    font-size: 20px;

    position: absolute;
    bottom: calc(50vh - 240px - 60px);
    left: calc(50vw - 240px);

    display: flex;
    justify-content: center;
    align-items: center;
}